---
import styles from './HorizontalScroller.module.scss'
import star from '@/assets/svg/abstract-design-4.svg'

interface Props {
  words?: string[]
}

const { words } = Astro.props
---

<script>
  const scrollers = document.querySelectorAll('.scroller')
  const scrollerList = document.querySelector('.scroller__list')
  if (!window.matchMedia('(prefers-reduced-motion: reduce)').matches)
    scrollingAnimtion()

  function scrollingAnimtion() {
    if (!scrollerList) return
    scrollers.forEach((scroller) => {
      scroller.setAttribute('data-animated', 'true')
      const scrollerListItems = Array.from(scrollerList.children)
      scrollerListItems.forEach((item) => {
        const duplicatedItem = item.cloneNode(true)
        scrollerList.appendChild(duplicatedItem)
      })
    })
  }
</script>

<div class={`${styles.scroller} scroller`}>
  <ul class={`${styles.scroller__list} scroller__list`}>
    {
      words &&
        [...words, ...words, ...words]?.map((word) => (
          <li class={styles.scroller__list_item}>
            <img alt="star" class={styles.scroller__star} src={star.src} />
            {word}
          </li>
        ))
    }
  </ul>
</div>
