---
import Layout from '@/layouts/Layout.astro'
import styles from './styles/index.module.scss'
import hero_background from '@/assets/svg/abstract-design-1.svg'
import ArrowLink from '@/components/ArrowLink/ArrowLink.astro'
import HorizontalScroller from '@/components/HorizontalScroller/HorizontalScroller.astro'
import { heroWordsList } from '@/constants/heroWordsList'
import { projects } from '@/constants/projects'
import { technologies } from '@/constants/technologies'
import Section from '@/components/Section/Section.astro'
import aboutMeImg from '@/assets/img/aboutMe.webp'
import star from '@/assets/svg/abstract-design-3.svg'
import facebookSvg from '@/assets/svg/facebook.svg'
import twitterSvg from '@/assets/svg/twitter.svg'
import linkedinSvg from '@/assets/svg/linkedin.svg'
import Button from '@/components/Button/Button.astro'
import Project from '@/components/Project/Project.astro'
---

<Layout title="Welcome to Astro.">
  <main class={styles.main}>
    <section class={styles.hero}>
      <img
        alt="hero_image"
        class={styles.hero__background}
        src={hero_background.src}
      />
      <div class={styles.hero__title_section}>
        <span class={styles.hero__title_section__role}>FRONTEND DEVELOPER</span>
        <h1 class={styles.hero__title_section__title}>ISMONOV MUHAMAD</h1>
      </div>
      <div class={styles.hero__lets_work}>
        <span class={styles.hero__lets_work__title}
          >ДАВАЙТЕ <ArrowLink href={'/#contact_me'} /></span
        >
        <span class={styles.hero__lets_work__title}>РАБОТАТЬ ВМЕСТЕ</span>
      </div>
    </section>
    <HorizontalScroller words={heroWordsList} />
    <Section preTitle="ABOUT ME" title="I AM MUHAMAD">
      <div class={styles.about_me}>
        <div class={styles.about_me__img_container}>
          <img
            class={styles.about_me__img_container__img}
            src={aboutMeImg.src}
          />
        </div>
        <div class={styles.details_list}>
          <div class={styles.details}>
            <h3 class={styles.details__title}>
              <img width="40" height="40" alt="star" src={star.src} />
              Introduction
            </h3>
            <p class={styles.details__desc}>
              I am a passionate frontend developer creating creative web and
              mobile applications. In my free time, I enjoy snowboarding and
              playing tennis.
              <br />
              <br />
              I actively participate in the Codecademy community, where I share my
              experiences and help others with programming. I have successfully debugged
              code for thousands of users, which has improved my skills.
              <br />
              <br />
              I believe that mutual learning and collaboration are key to success.
              I strive to create a positive atmosphere in groups so that everyone
              can find inspiration and support.
            </p>
          </div>
          <div class={styles.details}>
            <h3 class={styles.details__title}>
              <img width="40" height="40" alt="star" src={star.src} />
              Contact Information
            </h3>
            <p class={styles.details__desc}>
              Email
              <br />
              <span class={styles.details__extra_desc}>
                ismonovmukh@gmail.com
              </span>
            </p>
            <div class={styles.details__actions}>
              <div class={styles.socials}>
                <Button class={styles.socials__social}>
                  <img
                    class={styles.socials__social__img}
                    src={facebookSvg.src}
                  />
                </Button>
                <Button class={styles.socials__social}>
                  <img
                    class={styles.socials__social__img}
                    src={twitterSvg.src}
                  />
                </Button>
                <Button class={styles.socials__social}>
                  <img
                    class={styles.socials__social__img}
                    src={linkedinSvg.src}
                  />
                </Button>
              </div>
              <div class={styles.details__actions__buttons}>
                <a
                  class={styles.details__actions__buttons__anchor}
                  href="/#contact_me"
                >
                  <Button class={styles.details__actions__buttons__button}>
                    Let's Work
                  </Button>
                </a>
                <a class={styles.details__actions__buttons__anchor}>
                  <Button class={styles.details__actions__buttons__button}>
                    Download CV
                  </Button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Section>
    <Section preTitle="PORTFOLIO" title="EXPLORE MY PROJECTS">
      <Button slot="sideButton">View All Works -></Button>
      <div class={styles.projects}>
        {
          projects.map(({ imageSrc, title, viewCodeLink, viewProjectLink }) => (
            <Project
              imageSrc={imageSrc}
              title={title}
              viewProjectLink={viewProjectLink}
              viewCodeLink={viewCodeLink}
            />
          ))
        }
      </div>
    </Section>
    <Section preTitle="EXPERIENCE" title="MY SKILLS AND EXPERIENCE">
      <div class={styles.experience_section}>
        <div class={styles.technologies}>
          {
            technologies.map((tech) => (
              <div class={styles.technology}>
                <img class={styles.technology__img} src={tech.src} />
                <span class={styles.technology__name}>{tech.name}</span>
              </div>
            ))
          }
        </div>
        <div class={styles.experiences}>
          <div class={styles.experience}>
            <span class={styles.experience__timeline}>2021 - Now</span>
            <div class={styles.experience__details}>
              <strong class={styles.experience__details__company}
                >Sektor Business</strong
              >
              <strong class={styles.experience__details__role}
                >Fullstack Developer</strong
              >
            </div>
          </div>
        </div>
      </div>
    </Section>
  </main>
</Layout>
