---
import Layout from '@/layouts/Layout.astro'
import styles from './styles/index.module.scss'
import hero_background from '@/assets/svg/abstract-design-1.svg'
---

<Layout title="Welcome to Astro.">
  <main class={styles.main}>
    <section class={styles.hero}>
      <img class={styles.hero__background} src={hero_background.src} />
      <div class={styles.hero__title_section}>
        <span class={styles.hero__title_section__role}>FRONTEND DEVELOPER</span>
        <h1 class={styles.hero__title_section__title}>ISMONOV MUHAMAD</h1>
      </div>
      <div class={styles.hero__lets_work}>
        <span class={styles.hero__lets_work__title}>LET'S</span>
        <span class={styles.hero__lets_work__title}>Work Together</span>
      </div>
    </section>
  </main>
</Layout>
