---
import Layout from '@/layouts/Layout.astro'
import styles from './styles/index.module.scss'
import hero_background from '@/assets/svg/abstract-design-1.svg'
import ArrowLink from '@/components/ArrowLink/ArrowLink.astro'
import HorizontalScroller from '@/components/HorizontalScroller/HorizontalScroller.astro'
import { heroWordsList } from '@/constants/heroWordsList'
import { projects } from '@/constants/projects'
import { technologies } from '@/constants/technologies'
import Section from '@/components/Section/Section.astro'
import aboutMeImg from '@/assets/img/aboutMe.webp'
import logoSvg from '@/assets/svg/logo.svg'
import star from '@/assets/svg/abstract-design-3.svg'
import githubSvg from '@/assets/svg/github.svg'
import Button from '@/components/Button/Button.astro'
import Project from '@/components/Project/Project.astro'
import Footer from '@/components/Footer/Footer.astro'
---

<Layout title="Welcome to Astro.">
  <main class={styles.main}>
    <section class={styles.hero}>
      <img
        alt="hero_image"
        class={styles.hero__background}
        src={hero_background.src}
      />
      <div class={styles.hero__title_section}>
        <span class={styles.hero__title_section__role}>FRONTEND DEVELOPER</span>
        <h1 class={styles.hero__title_section__title}>ISMONOV MUHAMAD</h1>
      </div>
      <div class={styles.hero__lets_work}>
        <span class={styles.hero__lets_work__title}
          >ДАВАЙТЕ <ArrowLink
            class={styles.hero__lets_work__arrow}
            href={'mailto:ismonovmukh@gmail.com'}
          /></span
        >
        <span class={styles.hero__lets_work__title}>РАБОТАТЬ ВМЕСТЕ</span>
      </div>
    </section>
    <HorizontalScroller words={heroWordsList} />
    <Section id="aboutme" preTitle="ОБО МНЕ" title="Я МУХАМАД">
      <div class={styles.about_me}>
        <div class={styles.about_me__img_container}>
          <img
            class={styles.about_me__img_container__img}
            src={aboutMeImg.src}
          />
        </div>
        <div class={styles.details_list}>
          <div class={styles.details}>
            <h3 class={styles.details__title}>
              <img width="40" height="40" alt="star" src={star.src} />
              Введение
            </h3>
            <p class={styles.details__desc}>
              Я страстный разработчик frontend, создающий креативные веб- и
              мобильные приложения. В свободное время я люблю кататься на
              сноуборде и играть в теннис.
              <br />
              <br />
              Я активно участвую в сообществе Codecademy, где делюсь своим опытом
              и помогаю другим с программированием. Я успешно отлаживал код для тысяч
              пользователей, что улучшило мои навыки.
              <br />
              <br />
              Я считаю, что взаимное обучение и сотрудничество являются ключом к
              успеху. Я стремлюсь создать позитивную атмосферу в группах, чтобы люди
              могли найти вдохновение и поддержку.
            </p>
          </div>
          <div class={styles.details}>
            <h3 class={styles.details__title}>
              <img width="40" height="40" alt="star" src={star.src} />
              Контактная информация
            </h3>
            <p class={styles.details__desc}>
              Email
              <br />
              <span class={styles.details__extra_desc}>
                ismonovmukh@gmail.com
              </span>
            </p>
            <div class={styles.details__actions}>
              <div class={styles.socials}>
                <a href="https://github.com/Whitelistedd?tab=repositories">
                  <Button class={styles.socials__social}>
                    <img
                      class={styles.socials__social__img}
                      src={githubSvg.src}
                    />
                  </Button>
                </a>
              </div>
              <div class={styles.details__actions__buttons}>
                <a
                  class={styles.details__actions__buttons__anchor}
                  href="/#contact_me"
                >
                  <Button class={styles.details__actions__buttons__button}>
                    Давайте работать
                  </Button>
                </a>
                <a class={styles.details__actions__buttons__anchor}>
                  <Button class={styles.details__actions__buttons__button}>
                    Скачать резюме
                  </Button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Section>
    <Section id={'projects'} preTitle="ПОРТФОЛИО" title="МОИ ПРОЕКТЫ">
      <div class={styles.projects}>
        {
          projects.map(({ imageSrc, title, viewCodeLink, viewProjectLink }) => (
            <Project
              imageSrc={imageSrc}
              title={title}
              viewProjectLink={viewProjectLink}
              viewCodeLink={viewCodeLink}
            />
          ))
        }
      </div>
    </Section>
    <Section preTitle="ОПЫТ" title="МОИ НАВЫКИ И ОПЫТ">
      <div class={styles.experience_section}>
        <div class={styles.technologies}>
          {
            technologies.map((tech) => (
              <div class={styles.technology}>
                <img class={styles.technology__img} src={tech.src} />
                <span class={styles.technology__name}>{tech.name}</span>
              </div>
            ))
          }
        </div>
        <div class={styles.experiences}>
          <div class={styles.experience}>
            <span class={styles.experience__timeline}>2022 - Сейчас</span>
            <div class={styles.experience__details}>
              <strong class={styles.experience__details__company}
                >Sektor Business</strong
              >
              <strong class={styles.experience__details__role}
                >Fullstack Developer</strong
              >
            </div>
          </div>
        </div>
      </div>
    </Section>
    <img
      class={styles.bottom_logo}
      width="1062"
      height="213"
      src={logoSvg.src}
    />
    <HorizontalScroller words={heroWordsList} />
    <Footer />
  </main>
</Layout>
