---
import { navItems } from '@/constants/navItems'
import Button from '../Button/Button.astro'
import styles from './Navbar.module.scss'
import logo from '@/assets/svg/logo.svg'
---

<header class={styles.header}>
  <a href="#top">
    <img alt="logo" src={logo.src} />
  </a>
  <nav class={styles.nav}>
    <ul class={styles.nav__list}>
      {
        navItems.map((navItem) => (
          <li class={styles.nav__list_item}>
            <a href={navItem.path} class={styles.nav__list_anchor}>
              {navItem.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <Button>Contact Me</Button>
</header>
