---
import Button from '../Button/Button.astro'
import styles from './Navbar.module.scss'
import logo from '@/assets/svg/logo.svg'

const currentPath = Astro.url.pathname

const navItems = [
  { name: 'Home', path: '/' },
  { name: 'About Me', path: '/#about_me' },
  { name: 'Projects', path: '/#projects' },
]

console.log(currentPath)
---

<header class={styles.header}>
  <img alt="logo" src={logo.src} />
  <nav class={styles.nav}>
    <ul class={styles.nav__list}>
      {
        navItems.map((navItem) => (
          <li
            class={`${styles.nav__list_item} ${currentPath === navItem.path && styles['nav__list_item--active']}`}
          >
            <a href={navItem.path} class={styles.nav__list_anchor}>
              {navItem.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <Button>Contact Me</Button>
</header>
