---
import abstractDesign2 from '@/assets/svg/abstract-design-2.svg'
import styles from './Footer.module.scss'
import { navItems } from '@/constants/navItems'
import ArrowLink from '../ArrowLink/ArrowLink.astro'
import Button from '../Button/Button.astro'
import githubSvg from '@/assets/svg/github.svg'
---

<footer class={styles.footer}>
  <div class={styles.top}>
    <img
      class={styles.top__img}
      width="200"
      height="200"
      src={abstractDesign2.src}
    />
    <div class={styles.top__middle}>
      <div class={styles.top__me}>
        <div class={styles.top__me__lets_work}>
          <span class={styles.top__me__lets_work__title}
            >ДАВАЙТЕ <ArrowLink href={'mailto:ismonovmukh@gmail.com'} /></span
          >
          <h1 class={styles.top__me__lets_work__title}>РАБОТАТЬ ВМЕСТЕ</h1>
        </div>
      </div>
      <div class={styles.nav}>
        <ul class={styles.nav__list}>
          {
            navItems.map((navItem) => (
              <li class={styles.nav__list_item}>
                <a href={navItem.path} class={styles.nav__list_anchor}>
                  {navItem.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <img
      class={`${styles.top__img} ${styles['top__img--left']}`}
      width="200"
      height="200"
      src={abstractDesign2.src}
    />
  </div>
  <div class={styles.bottom}>
    <div class={styles.socials}>
      <Button class={styles.socials__social}>
        <img class={styles.socials__social__img} src={githubSvg.src} />
      </Button>
    </div>
  </div>
</footer>
